.articulos {
    width: 40%;
    padding: 50px 20px 0 50px
}

.articulo {
    margin-bottom: 75px;
    border-bottom: 3px solid $Color-secundario;
    &__categoria {
        font-weight: 500;
        font-size: 16px;
        color: $Color-secundario;
        @include titulos($Fuente2)
    }
    &__titulos {
        font-size: 20px;
        @include titulos($Fuente2);
    }
    &__descripcion {
        margin-bottom: 30px;
    }
}